html, body, .container {
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
}

.container {
    display: flex;   
}

.left-side {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: burlywood;
}

.right-side {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;    
    background-color: cadetblue;
}

.game-screen {
    position: relative;
    text-align: center;
    background-color: beige;
    box-shadow: 0 0 2rem rgb(87, 87, 87);
    width: 630px;
    height: 630px;
    transition: transform 1s ease-in-out; 
}

.blockUser, .blockToMerge {    
    position: absolute;
    width: 30px;
    height: 30px;
}

.blockUser {  
    background-color: saddlebrown; 
    box-shadow: 0 0 10px saddlebrown; 
}

.blockToMerge {
    background-color: rgb(42, 110, 62);
    box-shadow: 0 0 10px rgb(42, 110, 62); 
}

.newBlock {
    position: absolute;
}

.example-screen {
    text-align: center;
    background-color: beige;
    box-shadow: 0 0 2rem rgb(87, 87, 87);
    width: 630px;
    height: 630px;
}

.blockExample, .wip {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: cornflowerblue;    
    box-shadow: 0 0 10px rgb(97, 135, 206); 
}