html, body, .container {
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
}

.container {
    display: flex;    
}

.left-side {
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: burlywood;
}

.right-side {
    width: 45%;
    background-color: cadetblue;
}

.game-screen {
    text-align: center;
    background-color: beige;
    box-shadow: 0 0 2rem rgb(87, 87, 87);
    width: 750px;
    height: 630px;
}

.blockUser, .blockToMerge {    
    position: absolute;
    width: 30px;
    height: 30px;
}

.blockUser {  
    background-color: saddlebrown;  
}

.blockToMerge {
    background-color: rgb(42, 110, 62);
}